<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.ImageStyleMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.ImageStyle">
    <id column="ims_id" jdbcType="INTEGER" property="imsId" />
    <result column="ims_name" jdbcType="VARCHAR" property="imsName" />
    <result column="ims_used_count" jdbcType="INTEGER" property="imsUsedCount" />
    <result column="ims_estimated_time" jdbcType="INTEGER" property="imsEstimatedTime" />
    <result column="ims_aort_priority" jdbcType="INTEGER" property="imsAortPriority" />
    <result column="ims_show_path" jdbcType="VARCHAR" property="imsShowPath" />
    <result column="ims_parameter_values" jdbcType="VARCHAR" property="imsParameterValues" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.demo.entity.ImageStyle">
    <result column="ims_description" jdbcType="LONGVARCHAR" property="imsDescription" />
  </resultMap>
  <sql id="Base_Column_List">
    ims_id, ims_name, ims_used_count, ims_estimated_time, ims_aort_priority, ims_show_path, 
    ims_parameter_values
  </sql>
  <sql id="Blob_Column_List">
    ims_description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from image_style
    where ims_id = #{imsId,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from image_style
    order by ims_aort_priority desc
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from image_style
    where ims_id = #{imsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.ImageStyle">
    insert into image_style (ims_id, ims_name, ims_used_count, 
      ims_estimated_time, ims_aort_priority, ims_show_path, 
      ims_parameter_values, ims_description)
    values (#{imsId,jdbcType=INTEGER}, #{imsName,jdbcType=VARCHAR}, #{imsUsedCount,jdbcType=INTEGER}, 
      #{imsEstimatedTime,jdbcType=INTEGER}, #{imsAortPriority,jdbcType=INTEGER}, #{imsShowPath,jdbcType=VARCHAR}, 
      #{imsParameterValues,jdbcType=VARCHAR}, #{imsDescription,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.ImageStyle">
    insert into image_style
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="imsId != null">
        ims_id,
      </if>
      <if test="imsName != null">
        ims_name,
      </if>
      <if test="imsUsedCount != null">
        ims_used_count,
      </if>
      <if test="imsEstimatedTime != null">
        ims_estimated_time,
      </if>
      <if test="imsAortPriority != null">
        ims_aort_priority,
      </if>
      <if test="imsShowPath != null">
        ims_show_path,
      </if>
      <if test="imsParameterValues != null">
        ims_parameter_values,
      </if>
      <if test="imsDescription != null">
        ims_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="imsId != null">
        #{imsId,jdbcType=INTEGER},
      </if>
      <if test="imsName != null">
        #{imsName,jdbcType=VARCHAR},
      </if>
      <if test="imsUsedCount != null">
        #{imsUsedCount,jdbcType=INTEGER},
      </if>
      <if test="imsEstimatedTime != null">
        #{imsEstimatedTime,jdbcType=INTEGER},
      </if>
      <if test="imsAortPriority != null">
        #{imsAortPriority,jdbcType=INTEGER},
      </if>
      <if test="imsShowPath != null">
        #{imsShowPath,jdbcType=VARCHAR},
      </if>
      <if test="imsParameterValues != null">
        #{imsParameterValues,jdbcType=VARCHAR},
      </if>
      <if test="imsDescription != null">
        #{imsDescription,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.ImageStyle">
    update image_style
    <set>
      <if test="imsName != null">
        ims_name = #{imsName,jdbcType=VARCHAR},
      </if>
      <if test="imsUsedCount != null">
        ims_used_count = #{imsUsedCount,jdbcType=INTEGER},
      </if>
      <if test="imsEstimatedTime != null">
        ims_estimated_time = #{imsEstimatedTime,jdbcType=INTEGER},
      </if>
      <if test="imsAortPriority != null">
        ims_aort_priority = #{imsAortPriority,jdbcType=INTEGER},
      </if>
      <if test="imsShowPath != null">
        ims_show_path = #{imsShowPath,jdbcType=VARCHAR},
      </if>
      <if test="imsParameterValues != null">
        ims_parameter_values = #{imsParameterValues,jdbcType=VARCHAR},
      </if>
      <if test="imsDescription != null">
        ims_description = #{imsDescription,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ims_id = #{imsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.example.demo.entity.ImageStyle">
    update image_style
    set ims_name = #{imsName,jdbcType=VARCHAR},
      ims_used_count = #{imsUsedCount,jdbcType=INTEGER},
      ims_estimated_time = #{imsEstimatedTime,jdbcType=INTEGER},
      ims_aort_priority = #{imsAortPriority,jdbcType=INTEGER},
      ims_show_path = #{imsShowPath,jdbcType=VARCHAR},
      ims_parameter_values = #{imsParameterValues,jdbcType=VARCHAR},
      ims_description = #{imsDescription,jdbcType=LONGVARCHAR}
    where ims_id = #{imsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.ImageStyle">
    update image_style
    set ims_name = #{imsName,jdbcType=VARCHAR},
      ims_used_count = #{imsUsedCount,jdbcType=INTEGER},
      ims_estimated_time = #{imsEstimatedTime,jdbcType=INTEGER},
      ims_aort_priority = #{imsAortPriority,jdbcType=INTEGER},
      ims_show_path = #{imsShowPath,jdbcType=VARCHAR},
      ims_parameter_values = #{imsParameterValues,jdbcType=VARCHAR}
    where ims_id = #{imsId,jdbcType=INTEGER}
  </update>
</mapper>