.header #searchBar{
    display: inline;
    vertical-align:middle;
}

.search-bar{
   display:inline-block;
    width:400px;
    height:40px;
    border-radius:1ex;

    /*以下让搜索框居中*/
    position:absolute;
    left:0;
    right:0;
    margin:auto;
    
}

.search-text
{

    /*text-align:left;
    width:200px;
    box-sizing:border-box;
    border-radius: 2em;
	border:2px solid rgb(192,192,192);
	padding:5px;
	border-radius:3px;
    font-size:20;
    position:absolute;
    left:0;
    right:0;
    margin:auto;*/
    display:inline-block;
    width: 400px;
    height:40px;
    border-radius:1ex;
    font-size: 105%;
    color: #fff;
    border: black solid ;
    background-color: black;
    opacity:0.5;
}




.header{
    display: block;
    /*block 块级元素，之后的元素排列在下一行。
    inline 内联元素，一个接一个同行排列
    inline-block 显示为内联块元素，表现为同行显示并可修改宽高内外边距等属性
    */
}


/*这是一条导航栏*/
.home-menu {
    background: #2d3e50;
    padding: 0.5em;
    text-align: left;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}



.pure-menu{
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}

.pure-menu-fixed{
    position:fixed;
    left:0;
    top:0;
    z-index:3
}

.home-menu ul{
    float: right;
}

.pure-menu-list{
    list-style:none;
    margin:0;
    padding:0;
    position: relative;
}



.pure-menu-item{
    padding:0;
    margin:0;
    height:100%;
    position: relative;
}


.pure-menu-horizontal{
    width:100%;
    white-space:nowrap
}

.pure-menu-horizontal .pure-menu-list{
    display:inline-block;
}

.pure-menu-horizontal .pure-menu-heading,.pure-menu-horizontal .pure-menu-item{
    display:inline-block;
    zoom:1;
    vertical-align:middle
}


.pure-menu-heading{
    text-transform:uppercase;
    color:#fff;
    font-weight: 400;
    font-size: 120%;
    display:block;
    text-decoration:none;
    white-space:nowrap;
    padding:.5em 1em;
}

.home:hover{
    color:  #6FBEF3;
    text-decoration:underline;
    text-underline-position: below;
}

.pure-menu-link{
    color:  #6FBEF3;
    background-color: transparent;
    display:block;
    text-decoration:none;
    white-space:nowrap;
    padding:.5em 1em;
}

.pure-menu-link:focus,.pure-menu-link:hover{
    background-color:transparent;
}

.pure-menu-selected>.pure-menu-link,.pure-menu-selected>.pure-menu-link:visited{
    color:#fff;
}

.bottom{
    width:700px;
    height: 30px;
    border-radius: 1ex;
    margin:10px auto;
    right: 0;
    left: 0;
    text-align: center;
    background-color: lightgray;
}

.more{
top:5px;
outline: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    top: 7px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 5px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}