
.task-list-outside-top{
    width:760px;
    margin: 0 auto;
    margin-top:80px;
}

.task-list-outside-normal{
    width:760px;
    margin: 0 auto;
}

.task-list{
    width: 760px;
    height:190px;
    margin: 10px auto;
    border-radius: 0.7em;
    background-color: rgb(232, 243, 253);
    box-shadow:0 0 3px rgb(52, 53, 54);
    left: 15px;
    
}

.task-list-table{
    border:0;
    padding-left: 60px;
    padding-right:120px;
    padding-top: 5px;
    text-align: left;
    color: rgb(88, 88, 88);
    display: inline-block;
    vertical-align: bottom;
}

.first-row{
    font-size: 25px;
    font-weight: bolder;
    height: 25px; 
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.first-column{
    width:90px;
    text-align: center;
}

.download{
    width:100px;
    height: 40px;
    border-radius: 4px;
    border: 0;
    background-color:  rgb(114, 173, 212);/* #2d3e50; */
    color:#fff;
    outline: none;
    margin-left: 100px;
    margin-right: 20px;
    margin-top:115px;
}

.download-div{
    display: inline-block; 
    position: relative;
    height: 160px;
    width: 200px;
    vertical-align: bottom;
}

.download:hover {
    background-color:  #3c5066;
    color: lightgray;
    cursor: pointer;
    right: 10px;
    bottom: 20px;
}


@media screen and (max-width:600px){
     .task-list-outside-top{
    width:480px;
    margin: 0 auto;
    margin-top:120px;
    }

    .task-list-outside-normal{
        width:480px;
        margin: 0 auto;
    }
     
    .task-list{
        width: 480px;
        height:220px;
        margin: 10px auto;
        border-radius: 0.7em;
        background-color: rgb(232, 243, 253);
        box-shadow:0 0 3px rgb(52, 53, 54);
        left: 15px;
    }

    .task-list-table{
        border:0;
        padding-left: 60px;
        padding-right:60px;
        padding-top: 5px;
        text-align: left;
        color: rgb(88, 88, 88);
        display: block;
    }

    .download{
        width:100px;
        height: 40px;
        border-radius: 4px;
        border: 0;
        background-color:  rgb(114, 173, 212);/* #2d3e50; */
        color:#fff;
        outline: none;
        margin-left: 60px;
        margin-right: 0px;
        margin-top:0px;
    }

    .download-div{
        display: block;

    }

}